{% extends 'blog/base.html' %}
{% load static %}


	{%block content%}
	<!-- Navegação -->
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo"></span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav">
				</nav>
			</header>
		</div>
	</div>

	<!-- Experiência Profissional -->
	<div class="work section second" id="experiences">
		<div class="container">
			<h1>Experiência<br>Profissional</h1>

			{%for item in dados%}
			<ul class="work-list">
				<li>{{item.ano}}</li>
				<li><a href="#">{{item.nome}}</a></li>
                <li> 
                    <p style='text-align: justify;'>
                    {{item.texto}} 
                    </p> 
                </li>
			</ul>
			{%endfor%}
		</div>
	</div>


{%endblock%}